.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1e1e1e;
}

.container > .card {
  width: 400px;
  height: 400px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 1px solid #fff;
}

.container > .card > h4 {
  border-bottom: 1px solid #fff;
}

.container > .card > h4 > span {
  margin-left: 2px;
}
